<ul data-role="listview" data-inset="true">
  <% @actions.each do |act| %>
    <li>
      <% if act.action_type == IRKIT %>
        <a href="#irkit" data-commands="<%= act.action %>">
      <% elsif act.action_type == HUE %>
        <a href="#hue" data-commands="<%= act.action %>">
      <% elsif act.action_type == EXT_LINK || act.action_type == PDF %>
        <a href="<%= act.action %>" rel="external">
      <% else %>
        <a href="<%= act.action %>">
      <% end %>
      <% if act.image.present? %>
        <img src="<%= IMG_FILE_PATH %><%= act.image %>" class="ui-li-thumb">
      <% end %>
      <h2><%= act.action %></h2>
      <p><%= act.description %></p>
      <p class="ui-li-aside">
        <% if act.action_type == LINK %><%= LINK_STR %><% end %>
        <% if act.action_type == EXT_LINK %><%= EXT_LINK_STR %><% end %>
        <% if act.action_type == IRKIT %><%= IRKIT_STR %><% end %>
        <% if act.action_type == HUE %><%= HUE_STR %><% end %>
        <% if act.action_type == PDF %><%= PDF_STR %><% end %>
      </p>
      </a>
      <a href="#edit" data-rel="popup" data-position-to="window" data-transition="pop" data-icon="edit">Edit</a>
    </li>
  <% end %>
</ul>
<div data-role="popup" id="edit">
  <ul data-role="listview" data-inset="true" style="min-width:210px;">
    <li data-role="divider">Choose an action</li>
    <li><a href="edit/id">Edit</a>
    </li>
    <li><a href="delete/id">Delete</a>
    </li>
    <li><a data-rel="back" href="#">Cancel</a>
    </li>
  </ul>
</div>
<script type="text/javascript">
(function() {

  $('a[href=#irkit]').click(function(e) {
      e.preventDefault();

      // 値を取得してJSONデータを作成
      var data = {
          commands : data = $(this).data('commands')
      };

      $.ajax({
          type : 'POST',                // method = "POST"
          url : 'api/irkit',        // POST送信先のURL
          data : JSON.stringify(data),  // JSONデータ本体
          contentType : 'application/json', // リクエストの Content-Type
          dataType : "json",           // レスポンスをJSONとしてパースする
          success : function(json_data) {   // 200 OK時
              // JSON Arrayの先頭が成功フラグ、失敗の場合2番目がエラーメッセージ
              if (!json_data[0]) {    // サーバが失敗を返した場合
                  alert("Transaction error. " + json_data[1]);
                  return;
              }
              // 成功時処理
              location.reload();
          },
          error: function() {         // HTTPエラー時
              // alert("Server Error. Pleasy try again later.");
          },
          complete: function() {      // 成功・失敗に関わらず通信が終了した際の処理
              // button.attr("disabled", false);  // ボタンを再び enableにする
          }
      });
  });

  $('a[href=#hue]').click(function(e) {
      e.preventDefault();

      // 値を取得してJSONデータを作成
      var data = {
          commands : data = $(this).data('commands')
      };

      $.ajax({
          type : 'POST',                // method = "POST"
          url : 'api/hue',        // POST送信先のURL
          data : JSON.stringify(data),  // JSONデータ本体
          contentType : 'application/json', // リクエストの Content-Type
          dataType : "json",           // レスポンスをJSONとしてパースする
          success : function(json_data) {   // 200 OK時
              // JSON Arrayの先頭が成功フラグ、失敗の場合2番目がエラーメッセージ
              if (!json_data[0]) {    // サーバが失敗を返した場合
                  alert("Transaction error. " + json_data[1]);
                  return;
              }
              // 成功時処理
              location.reload();
          },
          error: function() {         // HTTPエラー時
              // alert("Server Error. Pleasy try again later.");
          },
          complete: function() {      // 成功・失敗に関わらず通信が終了した際の処理
              // button.attr("disabled", false);  // ボタンを再び enableにする
          }
      });
  });
}).call(this);
</script>
