<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>mosugi-homekit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="css/jquery.mobile-1.4.5.min.css">
    <link rel="stylesheet" href="css/listview-grid.css">
    <link rel="apple-touch-icon" href="assets/img/home.png">
    <script src="js/jquery-2.1.3.min.js"></script>
    <script src="js/jquery.mobile-1.4.5.min.js"></script>
  </head>
  <body>
    <div data-role="page" data-theme="b" id="demo-page" class="my-page">
      <div data-role="header">
        <a href="/" class="ui-btn ui-icon-home ui-btn-icon-left">Home</a>
        <h1>mosugi-homekit</h1>
        <a href="/actions/setting" data-icon="gear" class="ui-btn-right">Setting</a>
      </div><!-- /header -->
      <div role="main" class="ui-content">
        <%= yield %>
      </div><!-- /content -->
    </div><!-- /page -->
  </body>
</html>
