<h2>New Actions</h2>
<div class="ui-field-contain">
  <form method="post" action="/actions/new">
    <select name="action_type" id="action_type" data-iconpos="left">
      <% @act_opt.each do |act_opt| %>
        <option value="<%= act_opt.key %>"><%= act_opt.value %></option>
      <% end %>
    </select>
    <select name="parent_action" id="parent_action" data-iconpos="left">
      <% @parent_act_opt.each do |pa_opt| %>
        <option value="<%= pa_opt.action %>"><%= pa_opt.action %></option>
      <% end %>
    </select>
    <select name="action" id="action" data-iconpos="left">
      <% @ir_opt.each do |ir_opt| %>
        <option value="<%= ir_opt %>"><%= ir_opt %></option>
      <% end %>
    </select>
    <input type="text" name="description" id="description" placeholder="description">
    <select name="image" id="image" data-iconpos="left">
      <% @img_opt.each do |img_opt| %>
        <option value="<%= img_opt %>"><%= img_opt %></option>
      <% end %>
    </select>
    <input type="submit" name="submit" id="submit" value="Submit">
  </form>
</div>
</div>

